:root{
    --primary-bg: #737373;
}
html,body {
    margin:0;
    padding: 0;
    height: 100%;
}

header {
    background-image: url(../images/w05_circles.jpg);
    height: 60%;
    background-size: cover;
}


footer {
    background-color: var(--primary-bg);
    height: 45%;
    text-align: center;
}

img {
    border: 15px solid #444;
    border-radius: 50%;
    max-height: 220px;
    display: inline-block;
    margin: 15px 30px;
}

.row {
display: inline-block;
}

.column {
display: inline-block;
}






    
